

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

header{
    text-align: center;
    margin-bottom: 50px ;
    margin-top: 0px;
    font-size: 20px;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}


.main .left {
    height: 500px;
    width: 1000px;
    margin-right: 60px;
    margin-left: 0px;
}

.main .right {
    height: 570px;
    width: 1000px;
    margin-right: 0px;
} 
.left{
    background: url(login.jpg);
}
.right h2 {
    margin-bottom: 18px;
    font-size: 30px;
}
.para{
    font-size: 20px;
}

.right p {
    margin-bottom: 18px;
    margin-top: 18px;

}

.form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-sizing: border-box;  
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}

.form label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

.form input {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; 
}

.form button {
    background-color: #e6c12f;
    color: #333;
    border: 1px solid rgba(215, 229, 115, 0.242);
    padding: 10px 15px;
    font-size: 15px;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
}

.form button:hover {
    background-color: #c1a019;
}

.form p {
    text-align: center;
    margin-top: 10px;
}

.form a {
    text-decoration: none;
    color: #333;
}

.form a:hover {
    color: #e6c12f;
}

footer {
    text-align: center;
    margin: 20px 0;
    font-size: 15px;
    color: #777;
}

footer a {
    color: #0073e6;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    color: #092643;
}
nav {
    margin-top: 10px;
    padding: 10px;
    margin-left: 20px;
} 

.back-link {
    display: inline-block;
    margin-bottom: 1rem;
    text-decoration: none;
}

.back-button {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
    transition: transform 0.2s ease;
}

.back-button:hover {
    transform: translateX(-5px);
}